<div class="modal fade" id="photoModal{{folder.pk}}" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Папка: {{folder.name}}</h5>
                <button type="button" class="close btn btn-secondary"
                        data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-group">
                    {% for photo in photos %}
                    {% if photo.folder_id == folder.pk %}
                    {% include 'users/cards/post_card.html' %}
                    {% endif %}
                    {% endfor %}
                    {% if current_user.pk == request.user.id %}
                    <div style="max-width: 18rem; margin: auto;">
                        <a type="button" onclick="showModal('createPost{{folder.pk}}')" data-toggle="modal"
                           data-target="#createPost{{folder.pk}}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor"
                                 class="bi bi-file-earmark-plus" viewBox="0 0 16 16">
                                <path d="M8 6.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 .5-.5z"/>
                                <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z"/>
                            </svg>
                            <div class="card-body text-success">
                                <h5 class="card-title">Добавить Пост</h5>
                            </div>
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% if current_user.pk == request.user.id %}
            <div class="modal-footer">
                <form action="{% url 'photos:crud_folder' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="folder_id" value="{{ folder.pk }}"/>
                    <input type="hidden" name="user_id" value="{{ request.user.id }}"/>
                    <input type="hidden" name="_method" value="delete">
                    <button type="submit" class="btn btn-danger" value="Delete">
                        Удалить папку
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-folder-x" viewBox="0 0 16 16">
                            <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181L15.546 8H14.54l.265-2.91A1 1 0 0 0 13.81 4H2.19a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91H9v1H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zm6.339-1.577A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z"/>
                            <path d="M11.854 10.146a.5.5 0 0 0-.707.708L12.293 12l-1.146 1.146a.5.5 0 0 0 .707.708L13 12.707l1.146 1.147a.5.5 0 0 0 .708-.708L13.707 12l1.147-1.146a.5.5 0 0 0-.707-.708L13 11.293l-1.146-1.147z"/>
                        </svg>
                    </button>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% include 'modals/create_post_form_modal.html' %}